<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>TrollVNC</string>
	<key>items</key>
	<array>
		<!-- 绿色状态指示灯 -->
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>● VNC服务已启动</string>
			<key>textColor</key>
			<string>#00FF00</string>
		</dict>
	</array>
</dict>
</plist>
