Package: AKUN
Name: AKUN
Version: 3.2-272
Section: Tweaks
Depends: firmware (>= 14.0), preferenceloader
Architecture: iphoneos-arm
Author: AKUN <your@email.com>
Maintainer: AKUN <your@email.com>
Description: AKUN VNC server for iOS devices, allowing remote access and control of the device's screen.
